html {
    background-color: steelblue;
    font-family: 'Ubuntu', sans-serif;
    height: 80%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: white;
    height: 120%; 
    background-image: url("/images/about background - covfefe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    position: absolute;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 100px;
    margin-left: 98px;
}

#container-about {
    height: 100%;
    flex-direction: row;
    overflow:auto; 
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#left, #right {
    width: 40%; 
    margin:5px; 
    padding: 1em;
    height: 40%; 
}

#left {
    text-align: justify;
    background-color: #011F3F;
}

#right {
    position: relative;
    text-align: left;
    background-color: #F67280;
}

#copyright {
    font-size: 80%;
    position:absolute;
    margin: 1 em;
    bottom:0;
    right:5%;
    text-align: end;
}