html {
    background-color:#355C7D;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 750px;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    color: white;}

#container-paragraphs {
    width: 750px;
    height: 218px;
    border: 5px solid #665544;
    width: 100%;
}

#span1 {
    width:50%;
    height: 100%;
    float: left;
    background-color: #011F3F;
    text-align: justify;
    text-justify: inter-word;
}

#span2 {
    width: 50%;
    height: 100%;
    float: right;
    background-color: #F67280;}

