html {
    background-color: steelblue;
    font-family: 'Ubuntu', sans-serif;
    height: 80%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: white;
    height: 80%; 
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

#container-about {
    height: 100%;
    flex-direction: row;
    overflow:auto; 
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#left, #right {
    width: 40%; 
    margin:5px; 
    padding: 1em;
    height: 50%; 
}

#left {
    text-align: justify;
    background-color: #011F3F;
}

#right {
    text-align: left;
    background-color: #F67280;
}