/* ANIMATIONS brah*/
@keyframes salmon-swim {
    0% {
        /* transform: rotate(0deg); */
        background-position-x: 0;
    } 60% {
        /* transform: rotate(15deg); */
        background-position-y: -30%;
        background-position-x: 250px;
    } 100% {
        /* transform: rotate(0deg); */
        background-position-x: 500px;
    }

}



@keyframes water-bounce {
    from {
        background-position-y: 0%
    } to {
        background-position-y: 5%;
    }
}

@keyframes body-water {
    from {
        background: blue;
    } to {
        background: rgba(74, 71, 255, .50);
    }
}

/* STYLING */

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #F67280;
    background: transparent;
    margin-top: 110px;
    z-index: 9;
}

hr {
    color: #F67280;
    z-index: 9;

}

body {
    /* background-image: url('../images/bg-water.jpg'); */
    padding: 0;
    margin: 0;
    /* background-image: url('../images/background.jpg'); */
    /* background-size: cover; */
    animation: water-bounce 5s alternate ease-in-out infinite;
}

#container-main {
    display: grid;
    justify-content: center;
    margin: 10% auto;
}

#container-new {
    font-size: 2rem;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 13px;
    margin: auto;
    align-items: stretch;
}

input {
    font-size: 2rem;
    margin: 0 2px;
}

#randomize-btn {
    background: blue;
    color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid white;
    background: #090089;
    color: white;
}

#header, #body-total {
    background: #011F3F;
    font-weight: bold;
    color: #F67280;
}

#body-data {
    animation: body-water 3s alternate infinite;
}

html {
    background-color:#355C7D;
    font-family: 'Ubuntu', sans-serif;
}

#footer #body-times{
    background: black;
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    
}

tr {
    border: 1px solid white;
}

table td {
    padding: 6px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#salmon {
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 100%;
    background: url('../images/salmon.png');
    animation: salmon-swim 30s linear infinite;
    z-index: 10;
}

#coffee {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/Cup-o-coffee-simple.png');
    animation: slideIn 30s linear infinite;
    z-index: 8;
    background-repeat: repeat;
}

@keyframes slideIn {
    from {
      background-position-x: 100%;
    }
  
    to {
      background-position-x: 0%;
    }
}

/* hover color */
td:hover {
    background-color: #429FFD;
    font-weight: bold;

  }