#index {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}

#picture {
    display: block;
}

#tagline {
    font-style: italic;
    font-size: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

#title {
    display: block;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    font-family: Arial, Helvetica, sans-serif;
    width: 375px;
    background-color: lightblue;
}

/* https://stackoverflow.com/questions/9402856/how-to-put-table-in-the-center-of-the-page-using-css */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox#Center_item */
#table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_boxes/Styling_tables */
table {
    border-collapse: collapse;
}

thead tr th {
    background-color: lightblue;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tfoot {
    border-top: 3px solid black;
    font-weight: bold;
}