body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #194769;
    background-color: #F6F6E9;
    background-size: 100%;
    background-attachment: fixed

    
}

#logo-space{
    height: 100px
}

.front-para{
    font-family: 'Georgia';
    font-size: 1.2em;
}

.inline-display{
    display: inline;
    margin: 10px
}

h1 {
    font-family: 'Oswald', 'Arial', sans-seif;
    font-size: 3.5em;
    color: white;
    margin-top: -5px
}

#main-header{
    color: #194769
}

thead, th {
    font-family: Arial, Helvetica, sans-serif;
}

#header-row {
    padding: 10px;
    background-color: #D7EEF2
}

tbody {
    font-family: Arial, Helvetica, sans-serif;
    color: #194769
}


td {
    padding: 10px;
}

#table-foot{
    background-color: #F2855E;
    color: #F6F6E9;
    font-weight: bold
}

#submit-button{
    background-color:#194769;
    position: relative;
    left: 45px;
}

#return-link{
    color:#F2855E;
    position: relative;
    left: 27.5px;
}

#input-title{
    text-align:center;
    position: relative;
    top: 12px;
    background-color: #F6F6E9;
}

#input-container{
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
}

#cookies-input{
    margin-bottom: 15px;
}

#first-para{
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin: 10px;
    width: 950px
}
#second-para{
    background-color: rgba(0, 0, 0, 0.26);;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin: 10px;
    width: 425px;
    position: relative;
    right: 262.5px
}
#third-para{
    background-color: rgba(0, 0, 0, 0.26);;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin: 10px;
    width: 425px;
    position: relative;
    left: 262.5px;
    bottom: 231px
}