body {
    background-color: #76b39d;
    
}

h1 {
    text-align: center;
    color: cornsilk;
    margin: 50px auto 0;
}
table, td {
    border-collapse: collapse;
    border: 1px solid darkmagenta;
    padding: 2px;
    background-color: #FDB44B;
    color: darkblue;
    margin: 25px auto 0;
    padding: 10px;
}
 thead tr {
     border: 2px solid;
     height: 50px;
     border: 1px solid darkmagenta;
     padding: 5px;
 }

 tbody tr {
     margin: 10px;
 }

 tfoot td {
     color: rgb(136, 33, 76);
     font-weight: bold;
 }

 fieldset {
     margin: 10px auto;
     color: white;
     font-family: sans-serif;
     width: 225px;
     background-color: salmon;
 }