/* made with help from http://divtable.com/table-styler/ */

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #B1EFF5 */
}

h1, h2 {
    text-align: center;
}

table {
    width: 90%;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
    /* background-color: #F5B7B1; */
}

td {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}

table td:nth-child(even) {
    background: #CDF5B1;
}

table thead {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 4px solid #333333;
}

table tfoot {
    font-size: 16px;
    font-weight: bold;
    border-top: 4px solid #333333;
}

/* style the left-most column */
td:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

/* I thought this would style the left-most column, but it didn't work
tr > td {
    font-size: 16px;
    font-weight: bold;
} */